#inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 10000px;
    width: 10000px;
    background-image: url(Blueprint%20background.png);
}

.node {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 25px;
}

#menu {
    position: absolute;
    width: 200px;
    height: 500px;
    background-color: darkgrey;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: sans-serif;
    padding: 15px;
}

.menuitem {
    position: relative;
    z-index: 2;
    border-radius: 25px;
    background-color: grey;
}